<!-- <link rel="stylesheet" href="/css/user_sign_in.css">

<!--  
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<form method="post" action="users/create-sessions">
											
											<div class="form-group">
												<input type="email" name="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
												
											</div>
											<input type="submit" value="SignIn" class="btn mt-4"/> 
											</form>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<!-- <h4 class="mb-4 pb-3">Sign Up</h4>
											<form method="post" action="users/create">
											<div class="form-group">
												<input type="text" name="name" class="form-style" placeholder="Your Full Name" id="logname" required autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" name="email" class="form-style" placeholder="Your Email" id="logemail" requiredautocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="password" class="form-style" placeholder="Your Password" id="logpass" required autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
												<input type="password" name="confirm_password" class="form-style" placeholder="Confirm Password" required id="logpass" autocomplete="off">
												
											</div>
											<input type="submit" class="btn mt-4" value="Sign In"/>
											<a href="#" class="btn mt-4">submit</a>
										</form> 
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div> -->




	<!--  -->
	<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>
<p>
	<a href="/users/auth/google">google SIGN IN</a>
</p>