<link rel="stylesheet" href="/css/user_profile.css">

<h1>
<p>    Codeial / Profile Page

</p></h1>
<hr/>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<p>PP: <%= user.password %></p>

